<div class="bg-image">
    <div class="overlay"></div>
    
    <div class="container_hero">
        <div class="content_hero">
            <div>
                <h1 class="title">Cultivamos o seu futuro!</h1>
            </div>

            <div>
                <h1 class="subtitle">Cresçamos <span class="">Juntos.</span></h1>
            </div>

            <div class="divider"></div>

            <p class="paragraph">O nosso crescimento é seu.</p>

            <div class="hidden md:block">
                <a href="/contactos" class="btn">Saber mais</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>