<div class="fixed-header">
    <div class="container_header">
        <div class="flex-container">
            <a href="/">
                <h2 class="">Grupo M-Lusa</h2>
            </a>
        </div>

        <div class="hidden md:flex flex-gap-10 text-gray-600">
            <a href='/'>
                <span>Início</span>
            </a>

            <a href='/servicos.html'>
                <span>Serviços</span>
            </a>

            <a href='/sobre.html'>
                <span>Sobre</span>
            </a>

            <a href='/contactos.html'>
                <span>Contactos</span>
            </a>
        </div>

        <div class="hidden md:block">
            <a href="/contactos.html" class="btn">Contactar</a>
        </div>

        <div class="md-hidden block">
            <span id="menu" onclick="toggleContent()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24"
                    height="24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </span>

            <span id="close" style="display: none;" onclick="toggleContent()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24"
                    height="24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>

            </span>
        </div>

    </div>

    <div class="header_mobile" style="display: none;" id="content">

        <p></p>

        <p> <a href='/'><span class='link-span'>Início</span></a></p>

        <p><a href='/servicos.html'><span class='link-span'>Serviços</span></a></p>

        <p><a href='/sobre.html'><span class='link-span'>Sobre</span> </a></p>

        <p><a href='/contactos.html'><span class='link-span'>Contactos</span> </a></p>

    </div>
</div>

</body>

</html>