<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <div class="containerContactos">

        <h1 class="titleContactos">Contactos</h1>

        <div class="contentContactos">

            <div class="itemContacto">

                <div class='itemContacto_son'>
                    <h1 class=''>Telemóvel</h1>
                </div>

                <div class='itemContacto_icons'>

                    <i class="fas fa-phone"></i>
                    <i class="fab fa-whatsapp"></i>

                </div>

                <p class='font-semibold text-gray-500'>+244 923 478 000</p>

            </div>

            <div class="itemContacto">

                <div class='itemContacto_son'>
                    <h1 class=''>Emails</h1>
                </div>
                <div class='itemContacto_icons'>

                    <i class="fas fa-envelope"></i>
                </div>

                <div>
                    <p><span className='font-semibold'>Geral:</span> <a className='text-gray-500'
                            href="mailto:geral@grupomlusa.ao">geral@grupomlusa.ao</a></p>
                    <p><span className='font-semibold'>CEO:</span> <a className='text-gray-500'
                            href="mailto:luis.muongueno@grupomlusa.ao">luis.muongueno@grupomlusa.ao</a></p>

                </div>

            </div>

            <div class="itemContacto">

                <div class='itemContacto_son'>
                    <h1 class=''>Redes Sociais</h1>
                </div>

                <div class='itemContacto_icons'>

                    <a href="https://facebook.com/grupo_mlusa" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com/grupo_mlusa" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@grupo_mlusa" target="_blank"><i class="fab fa-tiktok"></i></a>
                    <a href="https://twitter.com/grupo_mlusa" target="_blank"><i class="fab fa-twitter"></i></a>


                </div>

                <p style='--tw-text-opacity: 1;
                color: rgb(107 114 128 / var(--tw-text-opacity));font-weight: 600;'>grupo_mlusa</p>

            </div>

        </div>
    </div>

</body>

</html>