

.containerCenter {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {

        font-size: 1.5em;
        text-align: left;
        margin-top: 0.8em;
    }

    .containerContent {

        .buttons {

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            .buttonsItem {

                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                // background-color: var(--gray-light);
                padding: 30px;
                border-radius: 20px;

                a {

                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    padding: 20px;
                }

                span {

                    color: var(--gray-dark);
                    margin-top: 30px;
                    font-weight: 600;
                    font-size: 14px;


                    &:hover {

                        padding: 3px
                    }
                }

                .buttonLinkHome {

                    border: none;
                    position: relative;
                    color: var(--white);
                    margin: 0 30px;
                    border-radius: 50px;
                    background-color: var(--color-entity);
                    transition: all 1s ease-in-out;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    padding: 20px;

                    &:hover {

                        background-color: var(--gray-dark);
                        color: #000;
                    }
                }
            }
        }
    }


    .buttonBack {

        border: none;
        position: relative;
        color: var(--gray-dark);
        padding: 6px 10px;
        border-radius: 5px;
        margin: 10px;
        text-align: center;
        transition: all 1s ease-in-out;
        border: 1px solid var(--gray-dark);
        min-width: 10%;

        &:hover {

            filter: brightness(1.08) ;          
            border: 1px solid var(--gray-light);
        }
    }


    .form {

        width: 500px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0rem 0;
        background-color: var(--white);
        border-radius: 5px;
        margin: 6rem;

        textarea {

            width: 100%;
            min-height: 150px;
            resize: none;
            padding: 1rem;
            border: 1px solid var(--gray-light);
            border-radius: .3px;
            margin-bottom: 1rem;
            color: var(--gray-dark);
            text-align: justify;
            font-size: 14px;
        }

        .label {

            color: var(--gray-dark);
            text-align: center;
        }

        select {

            width: 100%;
            height: 40px;
            border-radius: 5px;
            margin-bottom: 1rem;
            color: var(--black);
            padding: 0 0.5rem;
            font-size: 14px;
            cursor: pointer;

            option {

                padding: 50rem;
                font-size: 15px;
                margin-bottom: 1rem;
                padding: 1rem;

            }
        }

        h2 {

            color: var(--colorEntity);
            padding-bottom: 2rem;
            margin-bottom: 20px;
        }

        form {

            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        div {
            height: 100%;
        }
    }
}


@media (max-width: 620px) {

    .containerCenter {
        .form {

            width: 90%;
            box-shadow: none;

        }
    }

}


@media (max-width: 320px) {
 
    .container {
      
        padding: 1rem;
    }

}