<div class="contentSobre">
    <h1 class="titleSobre">Sobre</h1>


    <div>
        <h2 class="itemSobre">Missão</h2>

        <p class=''>
            A missão do Grupo M-Lusa é liderar pelo exemplo, proporcionando serviços de alta qualidade e contribuindo
            para o progresso socioeconômico do Leste de Angola. Estamos empenhados em promover a prosperidade por
            meio de práticas éticas, inovação constante e respeito ao meio ambiente, visando sempre o bem-estar e a
            satisfação de nossos clientes e colaboradores locais.
        </p>
    </div>

    <div>
        <h2 class="itemSobre">Visão</h2>

        <p class=''>
            Nossa visão é ser reconhecido como um líder de mercado em todos os nossos ramos de atuação, sendo referência
            em excelência, integridade e responsabilidade. Visualizamos um futuro onde o
            Grupo M-Lusa seja uma força motriz para o desenvolvimento sustentável da região, inspirando mudanças
            positivas e deixando um legado duradouro em todas as comunidades que servimos.
        </p>
    </div>

    <div>
        <h2 class="itemSobre">Valores</h2>

        <p class='py-2 '>
            <strong>Excelência: </strong>
            Buscamos a excelência em tudo o que fazemos, desde a produção agrícola até a construção civil e além.
            Comprometemo-nos a oferecer serviços e produtos da mais alta qualidade, excedendo as expectativas de
            nossos clientes no Leste de Angola.
        </p>

        <p class='py-2 '>
            <strong>Integridade: </strong> Agimos com integridade, transparência e ética em todas as nossas operações
            e relacionamentos.
        </p>

        <p class='py-2 '>
            <strong>Sustentabilidade: </strong>
            Reconhecemos nossa responsabilidade em proteger e preservar o meio ambiente para as gerações futuras.
            Integrando práticas sustentáveis em todas as nossas operações, estamos comprometidos em minimizar nosso
            impacto ambiental e promover o desenvolvimento sustentável no Leste de Angola.
        </p>

        <p class='py-2 '>
            <strong>Inovação: </strong>
            Abraçamos a inovação como motor de crescimento e melhoria contínua. Estamos constantemente buscando novas
            maneiras de aprimorar nossos processos e soluções para permanecer na vanguarda de nossos setores no Leste de Angola.
        </p>

        <p class='py-2 '>
            <strong>Colaboração: </strong>
            Valorizamos a colaboração e o trabalho em equipe como pilares do nosso sucesso. Fomentamos um ambiente de respeito
            mútuo, diversidade e cooperação no Leste de Angola, reconhecendo que juntos podemos alcançar mais do que individualmente.
        </p>

        <p class='py-2 '>
            <strong>Responsabilidade Social: </strong> Comprometemo-nos a contribuir positivamente para a sociedade e a comunidade em
            que operamos, por meio de iniciativas de responsabilidade social corporativa e apoio a projetos comunitários.
        </p>

        <p class='py-2 '>
            <strong>Integridade: </strong>
            Agimos com honestidade, transparência e ética em todas as nossas interações e transações. Mantemos sempre nossa palavra e
            cumprimos nossos compromissos com integridade e confiabilidade no Leste de Angola.
        </p>

        <p class='py-2 '>
            <strong>Compromisso com a Comunidade: </strong>
            Estamos comprometidos em contribuir positivamente para as comunidades do Leste de Angola, investindo em programas sociais,
            educacionais e culturais que promovam o bem-estar e o desenvolvimento local.
        </p>
    </div>
</div>

</body>

</html>